{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

    <div class="col-8">
        <div class="p-3">
          <form method="post" action="{% url 'update_topic' pk=syllabus.pk %}" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Week</label>
                            <input type="text" class="form-control" name="week" value="{{syllabus.week}}">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Topic</label>
                            <input type="text" class="form-control" name="topic" value="{{syllabus.topics}}">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Notes/Pdf</label>
                            <input type="file" class="form-control" name="notes">
                            {% if syllabus.notes_pdf %}
                                Current File: {{ syllabus.notes_pdf.name|file_name }}
                            {% endif %}
                            <br>
                            <input class="mt-1" type="checkbox" name="delete_notes" id="delete_notes"> Delete Current File
                        </div>
                    </div>
                    <div class="col-12" hidden="">
                         <div class="form-group">
                             <label >Subject</label>
                             <select class="form-control" name="subject_id" hidden>
                                    <option value="{{get_subject.id}}">{{get_subject}}</option>
                             </select>
                         </div>
                     </div>
                    <div class="col-12">
                         <div class="form-group">
                             <label>Video URL</label>
                             <input type="url" class="form-control" name="video_url" value="{{syllabus.video_link}}">
                         </div>
                     </div>
                </div>
              <div class="">
                 <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
      </div>
    </div>

{% endblock %}